<nav class="navbar navbar-light" style="background-color: #e3f2fd;">
    <a class="navbar-brand" href="#">
      <img src="https://i.pinimg.com/originals/56/f0/c7/56f0c7de57fdae6d0a9ddc43448b6dff.png" width="40" height="40" class="d-inline-block align-top" alt="">
      Twlv Chat
    </a>
</nav>
<div class="pane p-2">
  <p> Your Address: <span>[[address]]</span></p>
  <form (submit)="startConversation(evt)">
    <input type="text" class="form-control mb-2" value="{{form.address}}">
    <input type="submit" class="btn btn-outline-primary btn-block" value="Start Conversation">
  </form>
</div>
